<h1>Liste des utilisateurs</h1>
<hr>

<form [formGroup]="this.crudApi.formData" (ngSubmit)="onSubmit()">

  <input type="hidden" formControlName="id" id="id">

  <div class="form-group">
    <label>Nom du groupe </label>
    <input type="text" class="form-control" formControlName="groupeName" id="groupeName">
  </div>

  <div class="form-group">
    <label>origin</label>
    <input type="text" class="form-control" formControlName="origin" id="origin" placeholder="origin">
  </div>

  <div class="form-group">
    <label>city</label>
    <input type="text" class="form-control" formControlName="city" id="city" placeholder="city">
  </div>

  <div class="form-group">
    <label>date_start</label>
    <input type="text" class="form-control" formControlName="date_start" id="date_start" placeholder="date_start">
  </div>

  <div class="form-group">
    <label>date_separation</label>
    <input type="text" class="form-control" formControlName="date_separation" id="date_separation" placeholder="date_separation">
  </div>

  <div class="form-group">
    <label>founders</label>
    <input type="text" class="form-control" formControlName="founders" id="founders" placeholder="founders">
  </div>

  <div class="form-group">
    <label>members</label>
    <input type="text" class="form-control" formControlName="members" id="members" placeholder="members">
  </div>

  <div class="form-group">
    <label>musicType</label>
    <input type="text" class="form-control" formControlName="musicType" id="musicType" placeholder="musicType">
  </div>

  <div class="form-group">
    <label>description</label>
    <input type="text" class="form-control" formControlName="description" id="description" placeholder="description">
  </div>
  
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Sauvegarder</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Fermer
    </button>
  </div>
</form>
